#!/bin/bash
#
# Init file for MCT server daemon
#
# chkconfig: 2345 55 25
# description: MCT server daemon
#
# processname: MCT
# pidfile: /var/run/MCT.pid

# Source function library
if [ -f /etc/init.d/functions ] ; then
  . /etc/init.d/functions
elif [ -f /etc/rc.d/init.d/functions ] ; then
  . /etc/rc.d/init.d/functions
else
  exit 1
fi

unset TMPDIR
RETVAL=0

MCT="{{plenv_root}}/shims/hypnotoad"
APPLICATION_CONF="{{mct_app_home}}/mct.{{item}}.conf"
export MOJO_MODE={{item}}
export HYPNOTOAD_APP="{{mct_app_home}}/script/mct"

[ -f $APPLICATION_CONF ] || exit 3

start()
{
  echo -n $"Starting MCT service: "
  daemon $MCT "--config $APPLICATION_CONF" 2>/dev/null
  RETVAL=$?
  echo
        [ $RETVAL -eq 0 ] && touch /var/lock/subsys/MCT || RETVAL=1
  return $RETVAL
}

stop()
{
  echo -n $"Shutting down MCT service: "
  killproc MCT
  RETVAL=$?
  [ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/MCT
  echo
  return $RETVAL
}

reload()
{
  echo -n $"Reloading MCT service: "
  killproc MCT -SIGUSR2
  RETVAL=$?
  echo 
  return $RETVAL
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  reload)
    reload
    ;;
  restart)
    stop
    start
    ;;
  status)
    status MCT
    ;;
  *)
    echo $"Usage: $0 {start|stop|reload|restart|status}"
    exit 2
esac
exit $?
