upstream {{mct_app}}-{{item.key}}-upstream {
   server 127.0.0.1:{{item.value.port}};
}

server {
    listen 80;
    listen [::]:80;
    server_name {{item.value.hostname}};

    {% for alias in item.value.aliases -%}
    server_name {{alias}};
    {% endfor %}

    {% for alias in item.value.aliases -%}
    if ($host = {{alias}}) { rewrite ^(.*)$ http://{{item.value.hostname}}$1 permanent; }
    {% endfor %}

    access_log /var/log/nginx/{{mct_app}}-{{item.key}}.no.access.log;
    error_log /var/log/nginx/{{mct_app}}-{{item.key}}.no.error.log;
    root {{mct_app_home}}-{{item.key}}/public;

    location / {
         proxy_read_timeout 300;
         proxy_pass http://{{mct_app}}-{{item.key}}-upstream;
         proxy_set_header Host $http_host;
    }
}
