{
  # Database connection DSN
  db => 'postgresql://{{mct_postgres_user}}:{{mct_postgres_pass}}@localhost/{{mct_app}}_{{item.key}}',

  # A list of secrets to use for hashing session cookies
  secrets => {{mct_secrets[item.key] | to_json}},

  # Github OAuth2 settings
  providers => {
    github => {
      key    => '{{mct_github_key[item.key]}}',
      secret => '{{mct_github_secret[item.key]}}',
    },
  },

  stripe => {
    pub_key => '{{mct_stripe_key[item.key]}}',
    secret  => '{{mct_stripe_secret[item.key]}}',
  },

  # Hypnotoad config
  hypnotoad => {
    listen   => [qw( http://localhost:{{item.value.port}} )],
    pid_file => '/tmp/{{mct_app}}_{{item.key}}.pid',
    proxy    => 1,
    workers  => 8,
  },
}

